# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Stirling R for Heritage Training Workshop
email: dejp3@cam.ac.uk
description: >- # This site will provide training material for a training workshop on R.
baseurl: "/R_FOR_HERITAGE_TRAINING_WORKSHOP" # the subpath of your site, e.g. /blog
url: "https://IARHeritages.github.io"
twitter_username: 
github_username:  
logo: https://avatars0.githubusercontent.com/u/20096949?s=200&v=4
workshop_date: 2019-05-15
# Build settings
markdown: kramdown
theme: jekyll-theme-minimal
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jemoji
  - jekyll-mentions
collections:
  tutorials:
    output: true
# collections_dir: tutorials

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
